@model MicrosoftMVC.Models.Lutador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lutador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtesMarciais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtesMarciais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLutas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLutas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Derrotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Derrotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vitorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vitorias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
